/* 
#f2f1ef

#d9b18e
#a67564
#723e31
*/
body{
    background-color: #d9d2cc;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #723e31;
    overflow: hidden;
    border: 5px solid #1e2124;
  }
  
  /* Style the links inside the navigation bar */
  .topnav button {
    float: left;
    color: #d9d2cc;  
    background-color: #723e31;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid transparent;
  }
  
  /* Change the color of links on hover */
  .topnav button:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav button.active {
    background-color: #a67564;
    color: white;
  }

  #abc{
    display: none;
    margin-top: 20%;
    width: 50%;
    border: 3px solid black;
    background-color: #a67564;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 10px #888888;
  }

  #abc1{
    display: none;
    margin-top: 20%;
    width: 50%;
    border: 3px solid black;
    background-color: #a67564;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 10px #888888;
  }



  input{
    width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}
  